.body__hide {
    font-family: Garamond, sans-serif;
    font-size: 15pt;
    line-height: 1.1;
    background-color: azure;
    animation: fade-in 1.2s linear;
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

*,
:after,
:before {
    box-sizing: border-box;
}

/* Header */
.header {
    position: relative;
    margin-top: 12px;
    margin-bottom: 10px;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: lightgray;
    position: absolute;
    top: 50px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 25pt;
    margin-left: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    transition: all 0.2s linear;
}

.header__logo:hover {
    color: crimson;
}

.header__nav {
    font-size: 18pt;
    margin: left 20px;
    position: relative;
}

.header__nav__link {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    transition: all 0.2s linear;
}

.header__nav__st {
    color: coral;
}

.header__nav__link:hover {
    color: coral;
}

.header__icons {
    position: absolute;
    left: 70%;
}

.header__img {
    display: inline-block;
    margin-left: 5vh;
    width: 25px;
    padding: 3px;
    height: auto;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.header__img:hover {
    background-color: rgba(253, 225, 182, 0.932);
}


/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    margin-top: center;
}

.container__block {
    width: 100%;
    height: 500px;
    margin: auto;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.container__img1 {
    background-image: url(../images/fotos/over-the-river.jpg);
}

.container__img2 {
    background-image: url(../images/fotos/board.jpg);
}

.container__img3 {
    background-image: url(../images/fotos/over-the-river.jpg);
}

.container__img4 {
    background-image: url(../images/fotos/rive.jpg);
}

.container__textblock {
    text-align: center;
    margin-top: 120px;
    color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.container__textblock:hover {
    opacity: 1;
}

.container__item1 {
    font-size: 22pt;
    font-weight: 700;
    margin-bottom: 80px;
}

.container__item2 {
    font-size: 14pt;
    font-weight: 700;
    margin-bottom: 80px;
}

.container__item3 {
    font-size: 20pt;
    font-weight: 700;
    margin-bottom: 80px;
    border: 1px solid white;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-radius: 5px;
    text-decoration: none;
    color:white;
}

.container__item3:hover{
    background-color:rgba(255, 255, 255, 0.425);
}

@media screen and (min-width:850px) {
    .header__icons {
        display: block;
    }
}

@media screen and (max-width:850px) {
    .header__icons {
        display: none;
    }


}