body {
    font-family: Garamond, sans-serif;
    font-size: 15pt;
    line-height: 1.1;
    background-color: azure;
    transition: all 0.5s ease-out;
}

*,
:after,
:before {
    box-sizing: border-box;
}

/* Header */
.header {
    position: relative;
    margin-top: 12px;
    margin-bottom: 10px;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: lightgray;
    position: absolute;
    top: 50px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 25pt;
    margin-left: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    transition: all 0.2s linear;
}

.header__logo:hover {
    color: crimson;
}

.header__nav {
    font-size: 18pt;
    margin: left 20px;
    position: relative;
}

.header__nav__link {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    transition: all 0.2s linear;
}

.header__nav__st {
    color: coral;
}

.header__nav__link:hover {
    color: coral;
}

.header__icons {
    position: absolute;
    left: 70%;
}

.header__img {
    display: inline-block;
    margin-left: 5vh;
    width: 25px;
    padding: 3px;
    height: auto;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.header__img:hover {
    background-color: rgba(253, 225, 182, 0.932);
}

/* Container */
.container {
    display: block;
    position: relative;
    width: 100%;

}

.container__block1 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    width: 100%;
    height: 335px;
    text-align: justify;
    border-bottom: 1px solid lightgray;
}

.container__block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    width: 100%;
    height: 334px;
    text-align: justify;
}

.container__blocktext {
    position: relative;
    margin: 0 auto;
    width: 67%;
}

.container__text {
    display: block;
    width: 85%;
    margin: 0 auto;
}

.container__button {
    display: inline-block;
    vertical-align: center;
    background-color: white;
    border: 2px solid gray;
    color: gray;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s linear;
}

.container__button:hover {
    background-color: bisque;
    color: black;
    border-color: black;
}

.container__picture {
    background-image: url(../images/fotos/rive.jpg);
    width: 33%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 334px;
}

.container__picture2{
    background-image: url(../images/fotos/rezhim.jpg);
}


@media screen and (min-width:850px) {
    .header__icons {
        display: block;
    }
}

@media screen and (max-width:850px) {
    .header__icons {
        display: none;
    }


}