.body__hide {
    font-family: Garamond, sans-serif;
    font-size: 15pt;
    line-height: 1.1;
    background-color: azure;
    animation: fade-in 1.2s linear;
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

*,
:after,
:before {
    box-sizing: border-box;
}

/* Header */
.header {
    position: relative;
    margin-top: 12px;
    margin-bottom: 10px;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: lightgray;
    position: absolute;
    top: 50px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 25pt;
    margin-left: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    transition: all 0.2s linear;
}

.header__logo:hover {
    color: crimson;
}

.header__nav {
    font-size: 18pt;
    margin: left 20px;
    position: relative;
}

.header__nav__link {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    transition: all 0.2s linear;
}

.header__nav__st {
    color: coral;
}

.header__nav__link:hover {
    color: coral;
}

.header__icons {
    position: absolute;
    left: 70%;
}

.header__img {
    display: inline-block;
    margin-left: 5vh;
    width: 25px;
    padding: 3px;
    height: auto;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.header__img:hover {
    background-color: rgba(253, 225, 182, 0.932);
}

/* Container */
.container {
    display: block;
    position: relative;
    width: 100%;
}

.container__form {
    height: 500px;
    border-bottom: 1px solid lightgray;
}

.container__block1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 70%;
    left: 200px;
}

.container__block2 {
    display: inline-block;
    justify-content: center;
    position: absolute;
    width: 70%;
    height: 578px;
    left: 200px;
    top: 70px;
}

.container__email,
.container__phone,
.container__name {
    width: 350px;
    height: 40px;
}

.container__item1,
.container__item2 {
    margin-left: 20px;
    ;
}

.container__radio1,
.container__radio2,
.container__radio3 {
    margin-left: 30px;
}

.container__item4 {
    display: inline-block;
    justify-content: center;
    position: absolute;
    width: 70%;
    height: 578px;
    left: 200px;
    top: 130px;
}

.container__topic {
    width: 1090px;
    height: 40px;
}

.container__message {
    width: 1090px;
    height: 150px;
}

.container__item5 {
    display: inline-block;
    justify-content: center;
    position: absolute;
    width: 70%;
    height: 578px;
    left: 200px;
    top: 220px;
}

.container__item6 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 70%;
    height: 578px;
    left: 200px;
    top: 420px;
}

.container__button {
    position: relative;
    display: inline-block;
    vertical-align: center;
    background-color: white;
    border: 2px solid gray;
    color: gray;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s linear;
    left: 27px;
}

.container__button:hover {
    background-color: bisque;
    color: black;
    border-color: black;
}

.container_img{
    border: 1px solid black;
    width:40px;
}

.container__icon{
    display: inline-block;
    left:35%;
}

@media screen and (min-width:850px) {
    .header__icons {
        display: block;
    }
}

@media screen and (max-width:850px) {
    .header__icons {
        display: none;
    }


}